@model StudentPortal.Web.Models.AddStudentViewModel

<h1>Add student</h1>

<form asp-controller="Students" asp-action="Add" method="post" class="mt-3" id="addStudentForm">
    <div class="form-group">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="form-label">Phone</label>
        <input type="text" class="form-control" asp-for="Phone" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="Subscribed" asp-for="Subscribed" />
            <label class="form-check-label" for="Subscribed">Subscribed</label>
        </div>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>

@section Scripts
{
    <!--
        Client-side validation for this page is enabled using jQuery, jQuery Validation,
        and jQuery Validation Unobtrusive. The necessary script imports for these libraries
        are included in the shared layout file (_Layout.cshtml). There is no need to import
        these scripts again in this page to avoid redundancy and optimize performance.
    -->

    <script>
        $(document).ready(function () {
            $('#addStudentForm').validate(); // Initialize form validation on document ready
        });
    </script>
}
